[Unit]
Description=Pulseaudio server
After=docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=bash -c "sudo /usr/bin/pulseaudio -k >/dev/null 2>&1 || sudo /usr/bin/pulseaudio --system --verbose --log-target=stderr --realtime=true --disallow-exit -L 'module-native-protocol-tcp auth-ip-acl=127.0.0.0/8 port=4713 auth-anonymous=1'"
ExecStartPre=/bin/bash -c 'until [ -S "/tmp/.X11-unix/X${DISPLAY/:/}" ]; do echo "Waiting for xserver to start..." ls -la /tmp/.X11-unix/ sleep 1 done echo "X server is ready" echo "X server is ready" sleep 1'
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pulse-server
User=admin

[Install]
WantedBy=multi-user.target