[Unit]
Description=Arc3dia server
After=pulseaudio.service
StartLimitIntervalSec=0

[Service]
ExecStart=/bin/bash -c "ffmpeg -hide_banner -loglevel error -s 1920x1080 -r 30 -f x11grab -i :0 -f pulse -re -i default -f mp4 -streaming 1 -movflags empty_moov+frag_every_frame+separate_moof+omit_tfhd_offset - | /usr/bin/warp -- ${WARP_FULL_URL}"
Restart=always
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=arc3dia-server
User=admin

[Install]
WantedBy=multi-user.target