[Unit]
Description=Arc3dia server
After=docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=/scripts/ffmpeg.sh
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=arc3dia-server

[Install]
WantedBy=multi-user.target