@import "https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap";

/* src/index.css */
html,
body #player {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#screen {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#vid {
  height: 100%;
  width: 100%;
}
#play {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 40;
}
#play2 {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  display: none;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 20;
}
#play-btn {
  cursor: pointer;
}
#play-icon {
  height: 70px;
  width: 70px;
}
#bottom-container {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#bottom-controls {
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottom-icon {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
}
#bottom-btn {
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}
#bottom-btn :hover {
  background-color: rgb(30, 30, 31);
}
.info-container {
  height: auto;
  width: 40%;
  padding: 20px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.settings-container {
  height: auto;
  width: 20%;
  padding: 20px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#close-info-tab {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(30, 30, 31);
}
#close-settings-tab {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(30, 30, 31);
  margin-bottom: 5px;
}
.close-icon {
  height: 15px;
  width: 15px;
  padding: 10px;
  border-radius: 7px;
}
#close-btn {
  cursor: pointer;
  overflow: hidden;
}
#close-btn :hover {
  background-color: rgb(40, 40, 41);
}
.hide-display {
  display: none;
}
#name-value-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
}
#duo-containers {
  height: auto;
  padding: 5px;
  width: 50%;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  font-family: "Signika Negative", sans-serif;
}
.text-style {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 15px;
  height: auto;
  padding: 2px;
  width: 50%;
  color: #FFF;
  margin-bottom: 10px;
}
.buffer-style {
  height: 20px;
  padding: 2px;
  width: 50%;
  color: #FFF;
  margin-bottom: 10px;
  position: relative;
}
.buffer-style .fill {
  position: absolute;
  transition-duration: 0.1s;
  transition-property:
    left,
    right,
    background-color;
  background-color: limeGreen;
  height: 100%;
  font-family: "Signika Negative", sans-serif;
  text-align: right;
  padding-right: 0.5rem;
  overflow: hidden;
}
.buffer-style .fill.net {
  background-color: Purple;
}
#latency-setting {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.settings-text-style {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 17px;
  height: auto;
  padding: 2px;
  width: 70%;
  text-align: left;
  color: #FFF;
}
.radio-latency-style {
  width: 20px;
  margin-left: 10px;
  height: 20px;
}
.switch input {
  display: none;
}
.switch {
  display: inline-block;
  width: 30px;
  height: 15px;
  position: relative;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}
.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-15px);
  transition: 0.2s;
}
input:checked + .slider:before {
  transform: translateX(15px);
  background-color: limeGreen;
}
input:checked + .slider {
  box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
}
